body{
    font-family: 'Poppins', sans-serif;
}
h1{
    margin: 0;
    font-size: 45px;
    color: rgb(124, 114, 114);
}

.orange{
    color: orange;
}

.container{
    display: flex;
}

.half-width{
    width: 50%;
}
.half-width img{
    width: 100%;
}
.half-width .about-image{
    width: 70%;
}
.about-head{
    font-weight:900;
    color: rgb(124, 114, 114);
}
.link-button{
    text-decoration: none;
    background-color: orange;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 50px;
    background-image: linear-gradient(orange, tomato);
    color: white;
}
.about-container{
    display: flex;
    background-image: url(images/shapes/7.png);
}
.font{
    font-size: 30px;
}
.text{
    text-align: center;
    padding: 0 20% ;
}
.text p{
    font-size: 12px;
}
.recipie{
    display: flex;
}
.wonder{
    width: 50%;
    box-shadow: 10px 10px 40px gray;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    border-radius: 15px;
}
.wonder img{
    width: 95%;
    margin-top: 20px;
}
.re-img{
    border-radius: 15px;
}
